
#search_releves {
width:auto;
	  margin-bottom:13px;
}
#releves {
	overflow-y: auto;
}

#compose-btn {
	margin-top: 10px;
	text-align: center;
}

#releves-list {
max-height:500px;
overflow-y:auto;
}
#releves td {
-moz-user-select: none;
-webkit-user-select: none;
cursor:pointer;
}
iframe.visualisation {
width:100%;
height:400px;
border:none;
}
.hero-unit {
padding:10px;
}
#message_visualisations_vide {
padding:15px 15px 0 15px;
}

#jschrist {
position:absolute;
top:39px;
bottom:0;
left:0;
right:0;
background:black;
}

body.fullscreen #jschrist {
top:4px;
}

#jschrist table td
{
border:none;
}
