.data_list td {
padding:0;
}
.data_list a {
color:#404040;
display:block;
display:inline-block;
vertical-align:middle;
min-height:20px;
line-height:20px;
width:100%;
padding:4px 10px 4px 10px;
box-sizing: border-box;
}

.data_list a:hover {
text-decoration:none;
}
