.liengraph{
	text-align: center;
}
.thumbnail{
	width:90px;
}
#releves{
	overflow:auto;
	height:500px;
}
#selection_graph{
	overflow-x:auto;
	overflow-y:hidden;
	width:100%;
}
#selection_graph ul{
	list-style:none;
	display:block;
	white-space:nowrap;
}
#selection_graph li{
	display: inline-block;
}
#selection_graph .media-grid {
	margin-left:-12px;
}

#selection_graph .media-grid a{
	margin:0px 0px 0px 12px;
background:white;
}

.hero-unit{
	padding:20px;
}
