.liengraph{
	text-align: center;
}
.thumbnail{
	width:90px;
}
#releves{
	overflow:auto;
	height:600px;
}

#selection_graph{
	overflow-x:scroll;
	overflow-y:hidden;
	width:600px;
}
#selection_graph ul{
	list-style:none;
	display:block;
	white-space:nowrap;
}
#selection_graph li{
	display: inline;
}
