@font-face {
font-family: DigitFont;
src: url("../../Img/digit.otf");
}

#area {
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
}

#area .lcd_box {
	color:white;
	font-size:5em;
	font-family:DigitFont, monospace;
	line-height: 1em;
	box-shadow:0px 0px 2px #333 inset;

padding: 8px;
margin: 8px;
text-align: center;
background: grey;
}
