<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<!--
-->
		<title>Test de la boite à moustache</title>
		<script type="text/javascript" language="javascript" charset="utf-8" src="../../Js/raphael-min.js"></script>
		<script type="text/javascript" language="javascript" charset="utf-8" src="../../Js/Plot_js/raphael_boxplot.js"></script>
<!--
		-->
	</head>
	<body>
<div id="first" style="width:640px;height:480px;"></div>
<div id="data" style="display:none;">
	<table>
		<tr>
			<th>Min</th>
			<th>Quartile 1</th>
			<th>Moyenne</th>
			<th>Quartile 3</th>
			<th>Max</th>
		</tr>
		<tr class="course1">
			<td>40</td>
			<td>60</td>
			<td>80</td>
			<td>100</td>
			<td>120</td>
		</tr>
		<tr class="course2">
			<td>60</td>
			<td>70</td>
			<td>85</td>
			<td>95</td>
			<td>110</td>
		</tr>
		<tr class="course3">
			<td>35</td>
			<td>65</td>
			<td>75</td>
			<td>95</td>
			<td>125</td>
		</tr>
	</table>
</div>
<script>
	/*
	//*/
	showBoxPlot();
</script>
<!---->	</body>
</html><!---->

