<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Test de la boite à moustache</title>
		<script type="text/javascript" language="javascript" charset="utf-8" src="../../Js/raphael-min.js"></script>
		<script type="text/javascript" language="javascript" charset="utf-8" src="../../Js/Plot_js/raphael_boxplot.js"></script>
<!--
-->
<!--
		<script type="text/javascript" language="javascript" charset="utf-8" src="../../Js/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" language="javascript" charset="utf-8" src="../../Js/jquery.jplot.js"></script>
		<script language="javascript" src="../../Js/plugins/jqplot.categoryAxisRenderer.js"></script>
		<script language="javascript" src="../../Js/plugins/jqplot.boxplotRenderer.js"></script>
		<script language="javascript" src="../../Js/plugins/jqplot.highlighter.js"></script>
		-->
	</head>
	<body>
<div id="first"></div>
<div id="data" style="display:none;">
	<table>
		<tr>
			<th>Min</th>
			<th>Quartile 1</th>
			<th>Moyenne</th>
			<th>Quartile 3</th>
			<th>Max</th>
		</tr>
		<tr class="course1">
			<td>40</td>
			<td>60</td>
			<td>80</td>
			<td>100</td>
			<td>120</td>
		</tr>
		<tr class="course2">
			<td>60</td>
			<td>70</td>
			<td>85</td>
			<td>95</td>
			<td>110</td>
		</tr>
		<tr class="course3">
			<td>35</td>
			<td>65</td>
			<td>75</td>
			<td>95</td>
			<td>125</td>
		</tr>
	</table>
</div>
<script>
	showBoxPlot();
	/*
	var data = [
              ['sample1', 10, 24, 34, 69, 89],
              ['sample2', 15, 22, 29, 89, 99],
              ['sample3', 19, 19, 19, 19, 19],
              ['sample4', 11, 20, 30, 60, 80],
              ['sample5', 17, 20, 41, 60, 91]
              ];
            var plot = $.jqplot('chartdiv', [data], {
              title: 'Box Plot',
              series: [{renderer: $.jqplot.BoxplotRenderer, rendererOptions: {}}],
              axesDefaults: {},
              axes: {
                  xaxis: {
                      renderer: $.jqplot.CategoryAxisRenderer
                  }
              }
            });
	//*/
</script>
<!---->	</body>
</html><!---->

