<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Test de graphe linéaire</title>
		<script type="text/javascript" language="javascript" charset="utf-8" src="../../Js/Plot_js/graphael_linechart.js"></script>
		<script type="text/javascript" language="javascript" charset="utf-8" src="../../Js/raphael-min.js"></script>
		<script type="text/javascript" language="javascript" charset="utf-8" src="../../Js/g.raphael-min.js"></script>
		<script type="text/javascript" language="javascript" charset="utf-8" src="../../Js/g.line-min.js"></script>
	</head>
	<body>
		<div id="holder" style="margin:10px;"></div>
		<div id="data" style="display:none;">
			<table class="course1">
				<tr>
					<th>10</th>
					<th>20</th>
					<th>30</th>
					<th>40</th>
					<th>50</th>
					<th>60</th>
					<th>70</th>
					<th>80</th>
					<th>90</th>
					<th>100</th>
					<th>110</th>
					<th>120</th>
				</tr>
				<tr>
					<td>60</td>
					<td>90</td>
					<td>130</td>
					<td>150</td>
					<td>172</td>
					<td>184</td>
					<td>193</td>
					<td>182</td>
					<td>173</td>
					<td>169</td>
					<td>142</td>
					<td>101</td>
				</tr>
			</table>
			<table class="course1">
				<tr>
					<th>10</th>
					<th>20</th>
					<th>30</th>
					<th>40</th>
					<th>50</th>
					<th>60</th>
					<th>70</th>
					<th>80</th>
					<th>90</th>
					<th>100</th>
					<th>110</th>
					<th>120</th>
				</tr>
				<tr>
					<td>42</td>
					<td>55</td>
					<td>65</td>
					<td>72</td>
					<td>84</td>
					<td>95</td>
					<td>101</td>
					<td>121</td>
					<td>96</td>
					<td>102</td>
					<td>89</td>
					<td>69</td>
				</tr>
			</table>
		</div>
		<script>
		var r = Raphael("holder", 640, 480),
			txtattr = { font: "12px sans-serif" };
		r.text(150, 20, "Graphe linéaire avec des points").attr(txtattr);
		
		
		var abscisses=[
				[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120],
				[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]];
		var ordonnees=[
				[60, 90, 130, 150, 172, 184, 193, 182, 173, 169, 142, 101],
				[42, 55, 65, 72, 84, 95, 101, 121, 96, 102, 89, 69]];
		
		var lines = r.linechart(20, 40, 480, 220, abscisses,ordonnees,
			{nostroke: false, axis: "0 0 1 1", symbol: "circle", smooth: true }
			).hoverColumn(function () {
		        this.tags = r.set();

		        for (var i = 0, ii = this.y.length; i < ii; i++) {
		            this.tags.push(r.tag(
            			this.x, this.y[i], this.values[i], 160, 10
	            		).insertBefore(this).attr([{ fill: "#fff" },
	            		{ fill: this.symbols[i].attr("fill") }]));
		        }
		    }, function () {
		        this.tags && this.tags.remove();
        });

        lines.symbols.attr({ r: 6 });		
		</script>
	</body>
</html>
