<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Test de graphe linéaire</title>
		<script type="text/javascript" language="javascript" charset="utf-8" src="../../Js/Plot_js/graphael_linechart.js"></script>
		<script type="text/javascript" language="javascript" charset="utf-8" src="../../Js/raphael-min.js"></script>
		<script type="text/javascript" language="javascript" charset="utf-8" src="../../Js/g.raphael-min.js"></script>
		<script type="text/javascript" language="javascript" charset="utf-8" src="../../Js/g.line-min.js"></script>
	</head>
	<body>
		<div id="holder" style="margin:10px;"></div>
		<div id="data" style="display:none;">
			<table class="course1">
				<tr>
					<th>10</th>
					<th>20</th>
					<th>30</th>
					<th>40</th>
					<th>50</th>
					<th>60</th>
					<th>70</th>
					<th>80</th>
					<th>90</th>
					<th>100</th>
					<th>110</th>
					<th>120</th>
				</tr>
				<tr>
					<td>60</td>
					<td>90</td>
					<td>130</td>
					<td>150</td>
					<td>172</td>
					<td>184</td>
					<td>193</td>
					<td>182</td>
					<td>173</td>
					<td>169</td>
					<td>142</td>
					<td>101</td>
				</tr>
			</table>
			<table class="course2">
				<tr>
					<th>10</th>
					<th>20</th>
					<th>30</th>
					<th>40</th>
					<th>50</th>
					<th>60</th>
					<th>70</th>
					<th>80</th>
					<th>90</th>
					<th>100</th>
					<th>110</th>
					<th>120</th>
				</tr>
				<tr>
					<td>42</td>
					<td>55</td>
					<td>65</td>
					<td>72</td>
					<td>84</td>
					<td>95</td>
					<td>101</td>
					<td>121</td>
					<td>96</td>
					<td>102</td>
					<td>89</td>
					<td>69</td>
				</tr>
			</table>
		</div>
		<script>
				showLineChart();
		</script>
	</body>
</html>
