<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Test de graphe linéaire en temps direct</title>
		<!-- For graph displaying -->
		<script language="javascript" type="text/javascript" src="../../Js/jquery-1.6.2.min.js"></script>
		<script language="javascript" type="text/javascript" src="../../Js/jquery.flot.min.js"></script>
		<script language="javascript" type="text/javascript" src="../../Js/Plot_js/jquery_realtimelinechart.js"></script>
		<!-- For debugging only -->
		<script language="javascript" type="text/javascript" src="../../Js/print_r.js"></script>
	</head>
	<body>
		<div id="holder" style="margin:20px;width:900px;height:400px"></div>
<!--		<p>You can update a chart periodically to get a real-time effect by using a timer to insert the new data in the plot and redraw it.</p>-->

<!--    	<p>Time between updates: <input id="updateInterval" type="text" value="" style="text-align: right; width:5em"> milliseconds</p>-->
		<script type="text/javascript">
			showLineChart();
		</script>
	</body>
</html>
