<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Test de tableau riche</title>
		<script type="text/javascript" src="../Js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="path/to/your/jquery.graphup.pack.js"></script>
	</head>
	<body>
		<div id="holder" style="margin:10px;"></div>
		<div id="data" style="display:none;">
			<table class="course1">
			</table>
			<table class="course2">
			</table>
		</div>
		<script>
		</script>
	</body>
</html>
