<!DOCTYPE html>
<html>
<head>
	<title>Tableau de bord - Inspecteur Deryque</title>
	<link href="/InspecteurDeryque/Css/bootstrap.min.css" media="screen" rel="Stylesheet" type="text/css" />
	<link href="/InspecteurDeryque/Css/application.css" media="screen" rel="Stylesheet" type="text/css" />
	<link href="/InspecteurDeryque/Css/Dashboard.css" media="screen" rel="Stylesheet" type="text/css" />
	<link href="/InspecteurDeryque/Css/supercss.css" media="screen" rel="Stylesheet" type="text/css" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="topbar">
	<div class="topbar-inner">

		<nav class="container">

			<h3 id="topbar_logo"><a href="/InspecteurDeryque/">Inspecteur Deryque</a></h3>		<ul class="nav left">
			<li><a href="/InspecteurDeryque/app/Data">Données</a></li>
			<li><a href="/InspecteurDeryque/app/Dashboard/xml">Fichier xml</a></li>
		</ul>
		<ul class="nav right">	
			<li class="dropdown">

				<a href="#" class="dropdown-toggle">Utilisateur</a>
					<ul class="dropdown-menu">
						<li><a href="/InspecteurDeryque/app/User/settings">Préférences</a></li>
						<li><a href="http://perdu.com">Aide</a></li>
						<li><a href="/InspecteurDeryque/app/PageIntrouvable">Une erreur 404</a></li>
						<li class="divider"></li>
						<li><a href="/InspecteurDeryque/app/Session/logout">Déconnexion</a></li>
					</ul>
				</li>
			</ul>		
		</nav>
	</div>
</div>

<div class="container-fluid">
      <div class="sidebar">
		
        <div class="well">
		<h4>Lite des relevés</h4>
		<div  id="releves">
		<table class="zebra-striped">
            <tr>
				<td><input type="checkbox" value="option1" name="optionsCheckboxes"/></td>
				<td>Relevé test test</td>
			</tr>
            <tr>
				<td><input type="checkbox" value="option1" name="optionsCheckboxes"/></td>
				<td>Relevé test test</td>
			</tr>
            <tr>
				<td><input type="checkbox" value="option1" name="optionsCheckboxes"/></td>
				<td>Relevé test test</td>
			</tr>
            <tr>
				<td><input type="checkbox" value="option1" name="optionsCheckboxes"/></td>
				<td>Relevé test test</td>
			</tr>
            <tr>
				<td><input type="checkbox" value="option1" name="optionsCheckboxes"/></td>
				<td>Relevé test test</td>
			</tr>
            <tr>
				<td><input type="checkbox" value="option1" name="optionsCheckboxes"/></td>
				<td>Relevé test test</td>
			</tr>
            <tr>
				<td><input type="checkbox" value="option1" name="optionsCheckboxes"/></td>
				<td>Relevé test test</td>
			</tr>
            <tr>
				<td><input type="checkbox" value="option1" name="optionsCheckboxes"/></td>
				<td>Relevé test test</td>
			</tr>
            <tr>
				<td><input type="checkbox" value="option1" name="optionsCheckboxes"/></td>
				<td>Relevé test test</td>
			</tr>
            <tr>
				<td><input type="checkbox" value="option1" name="optionsCheckboxes"/></td>
				<td>Relevé test test</td>
			</tr>
            <tr>
				<td><input type="checkbox" value="option1" name="optionsCheckboxes"/></td>
				<td>Relevé test test</td>
			</tr>
            <tr>
				<td><input type="checkbox" value="option1" name="optionsCheckboxes"/></td>
				<td>Relevé test test</td>
			</tr>
            <tr>
				<td><input type="checkbox" value="option1" name="optionsCheckboxes"/></td>
				<td>Relevé test test</td>
			</tr>
            <tr>
				<td><input type="checkbox" value="option1" name="optionsCheckboxes"/></td>
				<td>Relevé test test</td>
			</tr>
            <tr>
				<td><input type="checkbox" value="option1" name="optionsCheckboxes"/></td>
				<td>Relevé test test</td>
			</tr>
          </ul>
		</table>
		</div>
        </div>
      </div>

      <div class="content">
        <div class="hero-unit">
	<ul class="media-grid" id="selection_graph">	
		<li>
			<a href="#" class="liengraph">
				<img alt="" src="/InspecteurDeryque/Data/Calories/thumbnail.png" class="thumbnail"/>
			</a>
		</li>
		<li>
			<a href="#" class="liengraph">
				<img alt="" src="/InspecteurDeryque/Data/RythmeCardiaque/thumbnail.png" class="thumbnail"/>
			</a>
		</li>
		<li>
			<a href="#" class="liengraph">
				<img alt="" src="/InspecteurDeryque/Data/Temperature/thumbnail.png" class="thumbnail"/>
			</a>
		</li>
		<li>
			<a href="#" class="liengraph">
				<img alt="" src="/InspecteurDeryque/Data/Vitesse/thumbnail.png" class="thumbnail"/>
			</a>
		</li>
		<li>
			<a href="#" class="liengraph">
				<img alt="" src="/InspecteurDeryque/Data/Vitesse/thumbnail.png" class="thumbnail"/>
			</a>
		</li>
		<li>
			<a href="#" class="liengraph">
				<img alt="" src="/InspecteurDeryque/Data/Vitesse/thumbnail.png" class="thumbnail"/>
			</a>
		</li>
		<li>
			<a href="#" class="liengraph">
				<img alt="" src="/InspecteurDeryque/Data/Vitesse/thumbnail.png" class="thumbnail"/>
			</a>
		</li>
		<li>
			<a href="#" class="liengraph">
				<img alt="" src="/InspecteurDeryque/Data/Vitesse/thumbnail.png" class="thumbnail"/>
			</a>
		</li>
		<li>
			<a href="#" class="liengraph">
				<img alt="" src="/InspecteurDeryque/Data/Vitesse/thumbnail.png" class="thumbnail"/>
			</a>
		</li>
		<li>
			<a href="#" class="liengraph">
				<img alt="" src="/InspecteurDeryque/Data/Vitesse/thumbnail.png" class="thumbnail"/>
			</a>
		</li>
		<li>
			<a href="#" class="liengraph">
				<img alt="" src="/InspecteurDeryque/Data/Vitesse/thumbnail.png" class="thumbnail"/>
			</a>
		</li>
		<li>
			<a href="#" class="liengraph">
				<img alt="" src="/InspecteurDeryque/Data/Vitesse/thumbnail.png" class="thumbnail"/>
			</a>
		</li>
		<li>
			<a href="#" class="liengraph">
				<img alt="" src="/InspecteurDeryque/Data/Vitesse/thumbnail.png" class="thumbnail"/>
			</a>
		</li>
		<li>
			<a href="#" class="liengraph">
				<img alt="" src="/InspecteurDeryque/Data/Vitesse/thumbnail.png" class="thumbnail"/>
			</a>
		</li>
	</ul>

          <h1>Page Principale</h1>
          <p>Texte</p>
        </div>
	</div>
</div>

</body>
</html>

